body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #0044cc;
            color: white;
            text-align: center;
            padding: 1rem;
        }
        nav {
            background-color: #333;
            overflow: visible;
            position: relative;
            z-index: 100;
            margin: 0;
            border-bottom: none;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display:inline-block;
            position: relative;
        }
        nav ul li a {
            float: left;
            display: block;
            color: white;
            padding: 14px 20px;
            text-align: center;
            text-decoration: none;
        }
        nav ul li a:hover {
            background-color: #ddd;
            color: black;
        }
        nav ul li ul.dropdown li {
            display: block;
        }
        nav ul li ul.dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #333;
            min-width: 200px;
            padding: 0;
            margin: 0;
            z-index: 999;
            
        }
        nav ul li:hover ul.dropdown {
            display: block;
        }
        .container {
            width: 80%;
            margin: 20px auto;
        }
        h2 {
            color: #0044cc;
        }
        section {
            margin-bottom: 30px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        board-img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 8px;
        }

